body {
	overflow: hidden;
	/* Para que no se pueda mover la barra */
}
	/* Ajuste del fondo del juego y las estadisticas del jugador (a la derecha) */
.img {

    padding-bottom: 62.5%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 102%;
	height: 100%;
	background-color: white;
}

.img-gui {
	background-color: black;
	width: 120%;
	height: 100%;
    padding-bottom: 62.5%;
    background-size: 300px;
    background-repeat: repeat;
    opacity: 0.6;
}
.img-gui:hover {
    opacity: 1;
}

.item {
    position: absolute;

    background-color: beige;

}
#router {
    left: 87%;
    top: 55%;
    width: 5%;
    height: 5%;

}
#libro {
    left: 15%;
    top: 40%;
    width: 10%;
    height: 10%;

}
#movil {
    left: 20%;
    top: 60%;
    width: 5%;
    height: 5%;

}
#cable {
    left: 72%;
    top: 68%;
    width: 10%;
    height: 5%;

}
#proveedor {
    left: 43%;
    top: 1%;
    width: 10%;
    height: 4%;

}
#lupa {
    position:absolute;
    background-image: url('../images/lupa.png');
    background-size: cover;
    left: 5%;
    top: 90%;
    width: 7%;
    height: 7%;

}
#pc {

    left: 82%;

    top: 39%;
    width: 8%;
    height: 10%;

}

#navegador {

    left: 80.5%;

    

    top: 40%;
    width: 1%;
    height: 1%;

}

/* Con esta clase los div del juego se juntarían y no habría esa separación ¿usar?
.landing-col {
    background-size: 100% auto;
    background-size: 100% auto;
    background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    margin:0;
    padding:0px;
}*/




